@import "_var.scss";
@import "_mixin.scss";

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
}